#### Microdados do Censo da Educação Superior 2021.
#### Gerar arquivos e dados apenas dos municípios do Alto Tiête.

In [1]:
import numpy as np
import pandas as pd

In [2]:
arquivo1=False

if (arquivo1):
    ## Arquivo 1
    arquivos={'entrada':'MICRODADOS_CADASTRO_IES_2021.zip', 'saida':'MICRODADOS_ED_SUP_IES_2021_ALTO_TIETE.csv'}
    atr_selecao='NO_MUNICIPIO_IES'
    drop_columns=['NU_ANO_CENSO','NO_REGIAO_IES','CO_REGIAO_IES','NO_UF_IES','SG_UF_IES','CO_UF_IES','IN_CAPITAL_IES',
                  'NO_MESORREGIAO_IES','CO_MESORREGIAO_IES',
                  'DS_ENDERECO_IES','DS_NUMERO_ENDERECO_IES','DS_COMPLEMENTO_ENDERECO_IES','NO_BAIRRO_IES','NU_CEP_IES'
                 ]
else:
    ## Arquivo 2
    arquivos={'entrada':'MICRODADOS_CADASTRO_CURSOS_2021.zip', 'saida':'MICRODADOS_CADASTRO_CURSOS_2021_ALTO_TIETE.csv'}
    atr_selecao='NO_MUNICIPIO'
    drop_columns=['NU_ANO_CENSO','NO_REGIAO','CO_REGIAO','NO_UF','SG_UF','CO_UF']

In [3]:
ces=pd.read_csv('./Dados/'+arquivos['entrada'],
            sep=';',
            header=0,
            encoding='latin-1',
            low_memory=False,
            #on_bad_lines='skip'
            compression='zip'
            )

In [4]:
ces.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444786 entries, 0 to 444785
Columns: 200 entries, NU_ANO_CENSO to QT_CONC_MOB_ACADEMICA
dtypes: float64(5), int64(185), object(10)
memory usage: 678.7+ MB

In [5]:
ces

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,IN_CAPITAL,TP_DIMENSAO,...,QT_MAT_APOIO_SOCIAL,QT_CONC_APOIO_SOCIAL,QT_ATIV_EXTRACURRICULAR,QT_ING_ATIV_EXTRACURRICULAR,QT_MAT_ATIV_EXTRACURRICULAR,QT_CONC_ATIV_EXTRACURRICULAR,QT_MOB_ACADEMICA,QT_ING_MOB_ACADEMICA,QT_MAT_MOB_ACADEMICA,QT_CONC_MOB_ACADEMICA
0,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,0
1,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,0
2,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,0
3,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,0
4,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444781,2021,Sul,4.0,Santa Catarina,SC,42.0,Água Doce,4200408.0,0.0,2,...,0,0,0,0,0,0,0,0,0,0
444782,2021,Sul,4.0,Santa Catarina,SC,42.0,Água Doce,4200408.0,0.0,2,...,0,0,0,0,0,0,0,0,0,0
444783,2021,Sul,4.0,Santa Catarina,SC,42.0,Água Doce,4200408.0,0.0,2,...,0,0,0,0,0,0,0,0,0,0
444784,2021,Sul,4.0,Santa Catarina,SC,42.0,Água Doce,4200408.0,0.0,2,...,0,0,0,0,0,0,0,0,0,0
444785,2021,Sul,4.0,Santa Catarina,SC,42.0,Água Doce,4200408.0,0.0,2,...,0,0,0,0,0,0,0,0,0,0

In [6]:
ces.drop(labels=drop_columns, axis=1, inplace=True)

cidades=['Arujá','Biritiba Mirim','Ferraz de Vasconcelos','Guararema','Guarulhos','Itaquaquecetuba','Mogi das Cruzes',
         'Poá','Salesópolis','Santa Isabel','Suzano']
cesat=ces[(ces[atr_selecao].isin(cidades))]
cesat.reset_index(inplace=True, drop=True, level=0)

cesat

,NO_MUNICIPIO,CO_MUNICIPIO,IN_CAPITAL,TP_DIMENSAO,TP_ORGANIZACAO_ACADEMICA,TP_CATEGORIA_ADMINISTRATIVA,TP_REDE,CO_IES,NO_CURSO,CO_CURSO,...,QT_MAT_APOIO_SOCIAL,QT_CONC_APOIO_SOCIAL,QT_ATIV_EXTRACURRICULAR,QT_ING_ATIV_EXTRACURRICULAR,QT_MAT_ATIV_EXTRACURRICULAR,QT_CONC_ATIV_EXTRACURRICULAR,QT_MOB_ACADEMICA,QT_ING_MOB_ACADEMICA,QT_MAT_MOB_ACADEMICA,QT_CONC_MOB_ACADEMICA
0,Arujá,3503901.0,0.0,1,3,5,2,18288,Teologia,1211181,...,0,0,0,0,0,0,0,0,0,0
1,Arujá,3503901.0,0.0,2,1,2,1,18165,Ciência De Dados,1523256,...,0,0,0,0,0,0,0,0,0,0
2,Arujá,3503901.0,0.0,2,1,2,1,18165,Engenharia De Computação,1401591,...,0,0,2,0,2,0,0,0,0,0
3,Arujá,3503901.0,0.0,2,1,2,1,18165,Engenharia De Produção,1401595,...,0,0,1,0,1,0,0,0,0,0
4,Arujá,3503901.0,0.0,2,1,2,1,18165,Letras,1522594,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5775,Suzano,3552502.0,0.0,2,2,5,2,1846,Pedagogia,1421004,...,0,0,0,0,0,0,0,0,0,0
5776,Suzano,3552502.0,0.0,2,2,5,2,1846,Processos Gerenciais,1262442,...,0,0,0,0,0,0,0,0,0,0
5777,Suzano,3552502.0,0.0,2,2,5,2,1846,Secretariado,1515539,...,0,0,0,0,0,0,0,0,0,0
5778,Suzano,3552502.0,0.0,2,2,5,2,1846,Serviço Social,1516563,...,0,0,0,0,0,0,0,0,0,0
5779,Suzano,3552502.0,0.0,2,3,2,1,34,Gestão Pública,1445261,...,0,0,0,0,0,0,0,0,0,0

In [7]:
cesat.to_csv('./Dados/'+arquivos['saida'],
             sep=';',
             header=True,
             mode='w',
             encoding='latin-1',
             #compression='zip',
             index=False
            )

In [8]:
ces2=pd.read_csv('./Dados/'+arquivos['saida'],
            sep=';',
            header=0,
            encoding='latin-1',
            low_memory=False,
            #on_bad_lines='skip'
            #compression='zip'
            )

In [9]:
ces2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5780 entries, 0 to 5779
Columns: 194 entries, NO_MUNICIPIO to QT_CONC_MOB_ACADEMICA
dtypes: float64(3), int64(184), object(7)
memory usage: 8.6+ MB

In [10]:
cesat

,NO_MUNICIPIO,CO_MUNICIPIO,IN_CAPITAL,TP_DIMENSAO,TP_ORGANIZACAO_ACADEMICA,TP_CATEGORIA_ADMINISTRATIVA,TP_REDE,CO_IES,NO_CURSO,CO_CURSO,...,QT_MAT_APOIO_SOCIAL,QT_CONC_APOIO_SOCIAL,QT_ATIV_EXTRACURRICULAR,QT_ING_ATIV_EXTRACURRICULAR,QT_MAT_ATIV_EXTRACURRICULAR,QT_CONC_ATIV_EXTRACURRICULAR,QT_MOB_ACADEMICA,QT_ING_MOB_ACADEMICA,QT_MAT_MOB_ACADEMICA,QT_CONC_MOB_ACADEMICA
0,Arujá,3503901.0,0.0,1,3,5,2,18288,Teologia,1211181,...,0,0,0,0,0,0,0,0,0,0
1,Arujá,3503901.0,0.0,2,1,2,1,18165,Ciência De Dados,1523256,...,0,0,0,0,0,0,0,0,0,0
2,Arujá,3503901.0,0.0,2,1,2,1,18165,Engenharia De Computação,1401591,...,0,0,2,0,2,0,0,0,0,0
3,Arujá,3503901.0,0.0,2,1,2,1,18165,Engenharia De Produção,1401595,...,0,0,1,0,1,0,0,0,0,0
4,Arujá,3503901.0,0.0,2,1,2,1,18165,Letras,1522594,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5775,Suzano,3552502.0,0.0,2,2,5,2,1846,Pedagogia,1421004,...,0,0,0,0,0,0,0,0,0,0
5776,Suzano,3552502.0,0.0,2,2,5,2,1846,Processos Gerenciais,1262442,...,0,0,0,0,0,0,0,0,0,0
5777,Suzano,3552502.0,0.0,2,2,5,2,1846,Secretariado,1515539,...,0,0,0,0,0,0,0,0,0,0
5778,Suzano,3552502.0,0.0,2,2,5,2,1846,Serviço Social,1516563,...,0,0,0,0,0,0,0,0,0,0
5779,Suzano,3552502.0,0.0,2,3,2,1,34,Gestão Pública,1445261,...,0,0,0,0,0,0,0,0,0,0

#### Descrição dos atributos.

In [11]:
print(arquivo1)
if (arquivo1):
    desc=pd.read_csv('./Anexos/ANEXO I - Dicionário de Dados/cadastro_ies.csv',
                    sep=';',
                    header=0,
                    encoding='latin-1',
                    low_memory=True
                    #on_bad_lines='skip'
                    )
else:
    desc=pd.read_csv('./Anexos/ANEXO I - Dicionário de Dados/cadastro_cursos.csv',
                    sep=';',
                    header=0,
                    encoding='latin-1',
                    low_memory=True
                    #on_bad_lines='skip'
                    )

False

In [12]:
desc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 204 non-null    object
 1   Alteração de nomenclatura  203 non-null    object
 2   Unnamed: 2                 201 non-null    object
 3   Unnamed: 3                 201 non-null    object
 4   Unnamed: 4                 201 non-null    object
 5   Unnamed: 5                 29 non-null     object
 6   Unnamed: 6                 2 non-null      object
 7   Unnamed: 7                 202 non-null    object
 8   Unnamed: 8                 201 non-null    object
 9   Unnamed: 9                 201 non-null    object
 10  Unnamed: 10                201 non-null    object
 11  Unnamed: 11                201 non-null    object
 12  Unnamed: 12                201 non-null    object
 13  Unnamed: 13                201 non-null    object
 14  Unnamed: 14                201 non-null    object
 15  Unnamed: 15                201 non-null    object
 16  Unnamed: 16                201 non-null    object
 17  Unnamed: 17                201 non-null    object
 18  Unnamed: 18                201 non-null    object
 19  Unnamed: 19                201 non-null    object
 20  Unnamed: 20                22 non-null     object
 21  Unnamed: 21                0 non-null      float64
 22  Unnamed: 22                0 non-null      float64
dtypes: float64(2), object(21)
memory usage: 37.7+ KB

In [13]:
desc.head(10)

,Unnamed: 0,Alteração de nomenclatura,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,Variável nova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Descontinuidade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N,Nome da Variável,Descrição da Variável,Tipo,Tam.,Categoria,Observação,"Coleta por ano (""s""=sim;""-""=não )",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Notas sobre diferenças entre os anos,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09,10,11,...,15,16,17,18,19,20,21,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,NU_ANO_CENSO,Ano de referência do Censo da Educação Superior,Num,4,NaN,NaN,s,s,s,...,s,s,s,s,s,s,s,NaN,NaN,NaN
8,DADOS DO CURSO E IES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2,NO_REGIAO,Nome da região geográfica do local de oferta d...,Char,20,(.) Dados de Cursos a distância não calculados...,NaN,s,s,s,...,s,s,s,s,s,s,s,NaN,NaN,NaN

In [14]:
#### Eliminação dos atributos e linhas.
def eliminaAtributosELinhasArquivo(max):
    desc.drop(axis=1, labels='Unnamed: 0', inplace=True)
    for i in range(3,max):
        desc.drop(axis=1, labels='Unnamed: '+str(i), inplace=True)

    desc.dropna(how='any', inplace=True)
    desc.drop(axis=0, index=4, inplace=True)

def eliminaAtributosELinhasArquivo2():
    desc.drop(axis=1, labels='Unnamed: 0', inplace=True)
    for i in range(3,24):
        desc.drop(axis=1, labels='Unnamed: '+str(i), inplace=True)

    desc.dropna(how='any', inplace=True)
    desc.drop(axis=0, index=4, inplace=True)

if (arquivo1):
    eliminaAtributosELinhasArquivo(26)

    desc.columns=['ATRIBUTO','DESCRICAO']
    desc.reset_index(inplace=True, level=0, drop=True)
    desc.set_index('ATRIBUTO', drop=True, inplace=True)
    print(desc.loc['CO_REGIAO_IES']['DESCRICAO'])
else:
    eliminaAtributosELinhasArquivo(23)

    desc.columns=['ATRIBUTO','DESCRICAO']
    desc.reset_index(inplace=True, level=0, drop=True)
    desc.set_index('ATRIBUTO', drop=True, inplace=True)
    print(desc.loc['QT_MAT_MOB_ACADEMICA']['DESCRICAO'])

Quantidade de alunos regularmente matriculados que se vincularam temporariamente a outra instituição, sendo ela nacional ou internacional

In [15]:
desc

                                                                      DESCRICAO
ATRIBUTO
NU_ANO_CENSO                    Ano de referência do Censo da Educação Superior
NO_REGIAO                     Nome da região geográfica do local de oferta d...
CO_REGIAO                     Código da região geográfica do local de oferta...
NO_UF                         Nome da Unidade da Federação do local de ofert...
SG_UF                         Sigla da Unidade da Federação do local de ofer...
...                                                                         ...
QT_CONC_ATIV_EXTRACURRICULAR  Quantidade de concluintes que participam de al...
QT_MOB_ACADEMICA              Quantidade de alunos que se vincularam tempora...
QT_ING_MOB_ACADEMICA          Quantidade de ingressantes que se vincularam t...
QT_MAT_MOB_ACADEMICA          Quantidade de alunos regularmente matriculados...
QT_CONC_MOB_ACADEMICA         Quantidade de concluintes que se vincularam te...

[200 rows x 1 columns]

#### Gera o arquivo de descrição.

In [16]:
if (arquivo1):
    desc.to_csv('./Dados/cadastro_ies.csv',
                sep=';',
                header=True,
                encoding='latin-1',
                #compression='zip'
               )
    
    desc2=pd.read_csv('./Dados/cadastro_ies.csv',
                        sep=';',
                        header=0,
                        encoding='latin-1',)
    desc2.set_index('ATRIBUTO', drop=True, inplace=True)
    print(desc2)
else:
    desc.to_csv('./Dados/cadastro_cursos.csv',
                sep=';',
                header=True,
                encoding='latin-1',
                #compression='zip'
               )
    
    desc2=pd.read_csv('./Dados/cadastro_cursos.csv',
                        sep=';',
                        header=0,
                        encoding='latin-1',)
    desc2.set_index('ATRIBUTO', drop=True, inplace=True)
    print(desc2)

                                                                      DESCRICAO
ATRIBUTO
NU_ANO_CENSO                    Ano de referência do Censo da Educação Superior
NO_REGIAO                     Nome da região geográfica do local de oferta d...
CO_REGIAO                     Código da região geográfica do local de oferta...
NO_UF                         Nome da Unidade da Federação do local de ofert...
SG_UF                         Sigla da Unidade da Federação do local de ofer...
...                                                                         ...
QT_CONC_ATIV_EXTRACURRICULAR  Quantidade de concluintes que participam de al...
QT_MOB_ACADEMICA              Quantidade de alunos que se vincularam tempora...
QT_ING_MOB_ACADEMICA          Quantidade de ingressantes que se vincularam t...
QT_MAT_MOB_ACADEMICA          Quantidade de alunos regularmente matriculados...
QT_CONC_MOB_ACADEMICA         Quantidade de concluintes que se vincularam te...

[200 rows x 1 columns]

### Eof